{{#each ideas}}
<div class="container">
  <div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a class="btn-edit btn-block" style="text-decoration: none;" href="/ideas/edit/{{id}}">Edit</a>
    <form method="post" action="/ideas/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn-delete btn-block" value="Delete">
    </form>
  </div>
</div>
{{else}}
<div class="container">
  <p>No video ideas listed</p>
  <a href="/ideas/add" class="btn-edit btn-block">Add your first idea/notes</a>
</div>
{{/each}}